.register-root {
    -fx-background-color: linear-gradient(
        to bottom right,
        #0f2027,
        #203a43,
        #2c5364
    );
}



/* Card */
.register-card {
    -fx-background-color: rgba(255,255,255,0.08);
    -fx-background-radius: 20;
    -fx-padding: 30;

    -fx-border-color: rgba(255,255,255,0.25);
    -fx-border-radius: 20;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 30, 0.2, 0, 15);
}

/* Title */
.register-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #069999; /* same as app title */
}
/* Inputs */
.text-field,
.password-field,
.combo-box {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-color: rgba(255,255,255,0.4);
    -fx-background-color: rgba(255,255,255,0.08); /* glass effect */
    -fx-padding: 5;
    -fx-text-fill:white;
}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.combo-box .prompt-text {
    -fx-text-fill: #ffffce; /* same as your theme */
}

.combo-box-popup .list-view {
    -fx-background-color: #203a43;
}

.combo-box-popup .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #069999;
    -fx-text-fill: black;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow {
    -fx-background-color: white;
}

/* Focus */
.text-field:focused,
.password-field:focused,
.combo-box:focused {
    -fx-border-color: #069999;
}

.primary-button {
    -fx-background-color: #6b7280; /* gray */
    -fx-text-fill: white;
    -fx-background-radius: 25;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 10 0;
}

.primary-button:hover {
    -fx-background-color: #fff9c4; /* light yellow */
    -fx-text-fill: black;
}

/* Back Button */

.back-button {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffce;
}

.back-button:hover {
    -fx-opacity: 0.7;
}


/* Login Link */
.login-link {
    -fx-text-fill: #069999;
}

.login-link:hover {
    -fx-text-fill: #ffc0cb; /* soft pink hover (optional premium touch) */
}

.error-label {
    -fx-text-fill: #ff6b6b;
    -fx-font-size: 11px;
}

.error-field {
    -fx-border-color: #ff4d4d;
    -fx-border-width: 1.5;
}

.valid-field {
    -fx-border-color: #2ecc71;
    -fx-border-width: 1.5;
}

